html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.btn-mangxo {
    background-color: rgb(254, 199, 15);
    color: #000;
    font-weight: 500;
    border-radius: 10px !important;
    box-shadow: rgb(3 3 3 / 10%) 0px 0px 10px;
    border: 0;
}

.btn-mangxo:hover {
    background-color: rgb(115, 44, 156);
    color: #fff;
}

.btn-violet {
    background: rgb(115, 44, 156);
    color: #fff;
    font-weight: 500;
    border-radius: 10px !important;
    box-shadow: rgb(3 3 3 / 10%) 0px 0px 10px;
    border: 0;
}

.btn-violet:hover {
    background-color: rgb(254, 199, 15);
    color: #000;
    font-weight: 500;
    border-radius: 10px !important;
    box-shadow: rgb(3 3 3 / 10%) 0px 0px 10px;
    border: 0;
}

.text-violet {
    color: rgb(115, 44, 156);
}

.btn-square {
    background-color: #fff;
    box-shadow: rgb(3 3 3 / 10%) 0px 0px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    width: 66px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-size: cover;
    position: relative !important; 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('images/bg-header.jpeg');
    
}

.navbar a {
    font-size: 0.9em;
}

.features {
    background-size: cover;
    position: relative !important; 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(66,52,3,0.8), rgba(55,52,3,0.8)), url('images/bg-about.jpeg');
}

.feature-box > .col-12 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4));
    border: 5px transparent;
    border-radius: 10px;
}

.yellow {
    color: #FEC70F;
}

.video-section {
    background-color: #732C9C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-box {
    border-radius: 38px;
    height: 500px;
    padding: 10px;
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border-radius: 38px;
}

footer {
    background: rgb(22, 20, 20, 0.8);
}

.easy-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.easy-section .btn-mangxo {
    width: 20%;
}

.navbar-toggler {
    border: none;
}

div.hire-mangxo .hire-mangxo-text {
    font-size: 5em; 
    color: #BB99D4;
}

div.hire-mangxo button {
    width: 20%;
}

.mangxo-info-text-lg {
    font-size: 3em;
}

.mangxo-info p {
    font-size: 1.5em !important;
}

.mangxo-info img {
    height: 450px;
}

.easy-section .easy-title {
    font-size: 3em;
}

@media(max-width: 480px) {
    .images-header {
        margin-top: 70% !important;
    }

    .feature-box > .col-12 {
        max-height: 120px;
        margin-top: 1em;
        padding: 0.5em;
    }

    .feature-box > .col-12 > h4 {
        font-size: 1em !important;
    }

    div.hire-mangxo .hire-mangxo-text {
        font-size: 2em; 
        color: #BB99D4;
    }

    div.hire-mangxo button {
        width: 80% !important;
        margin: auto !important;
    }

    .mangxo-info-text-lg {
        font-size: 1.5em;
    }
    
    .mangxo-info p {
        font-size: 1em !important;
    }
    
    .mangxo-info img {
        height: 200px;
    }

    .easy-section .btn-mangxo {
        width: 100% !important;
    }

    .footer-address {
        margin-bottom: 2em;
    }

    .footer-social {
        margin-bottom: 3em;
        justify-content: start !important;
    }

    .footer-contact ul { 
        padding: 0;
    }

    .navbar-brand img {
        height: 35px !important;
    }


    .easy-section .easy-title {
        font-size: 2em;
        margin-bottom: 2em;
    }

    .easy-section h4 {
        font-size: 1em;
    }

    .easy-section p {
        font-size: 1em;
    }
}